*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: darkgray; */
    font-family: 'Open Sans', sans-serif;
}

/* HEADER  */

nav {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.left {
    margin-left: 20px;
    display: flex;
    align-items: center;

}

.right {
    display: flex;
    align-items: center;
}

/* nav ul li {
    padding: 20px;
} */

nav a {
    display: block;
    padding: 20px;
    color: black;
    text-decoration: none;
    font-size: 15px;
}

.button {
    display: block;
    padding: 10px;
    background-color: #0061ff;
    color: white;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
}

/* #small-btn-container {
    padding: 10px 55px;
} */


.left img {
    width: 100px;
}


/* MAIN */

main {
    padding-top: 50px;
}

/* PRIMA SEZ */

.first{
    width: 100%;
    background-color: #b4d0e7;
}

.jumbo {
    width: 60%;
    margin: 0 auto;
    /* height: 600px;  */
    padding-top: 100px;
}

.title h1 {
    font-size: 55px;
}

.container-top {
    width: 100%;
    /* height: 70%; */
    display: flex;
    /* position: relative;
    top: 150px; */
}

.container-top .desc {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 13px;
    padding-top: 25px;
}

.jumbo .button {
    display: inline-block;
}


.container-top .image {
    width: 70%;
    height: 100%;
    position: relative;
    top: 50px;
}

.image img {
    width: 100%;
}

/* SECONDA SEZ */

.container {
    width: 50%;
    margin: 50px auto;
    /* height: 500px; */
    /* border: 2px solid black; */
}
.container .title-2 {
    padding: 40px 0;
}



.second .sct-columns {
    display: flex;
    justify-content: space-between;
}

.second .column {
    width: calc(100% / 3 - 20px);
    /* height: 600px; */
    border: 1px solid lightgray;
    font-size: 10px;
    margin-bottom: 20px;
}



.user-type {
    text-align: center;
    border: 1px solid lightgray;
    padding: 10px;
    
}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px;
    font-size: 10px;
}

.type {
    padding: 20px 10px 0 10px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
}

.column ul {
    list-style: none;
}

.link-buy {
    padding: 20px 0;
}

.line {
    border-bottom: 2px solid gray;
    width: 50px;
    /* padding: 20px;
    margin-left: 20px;
    margin-bottom: 20px; */
}

/* .btn-space {
    padding-top: 20px;
} */

/* .column #button {
    font-size: 10px;
    padding: 10px 20px;
} */

.highlights {
    padding: 20px 0;
    font-size: 10px;
}

.column li {
    padding: 10px 0;
}

.type-title , .cost , .idk {
    padding: 10px 0;
}

.info , .caption {
    padding: 10px 0;
}

.container-bottom {
    display: flex;
    justify-content: space-between;
    border: 1px solid lightgray;
}

.container-bottom .button {
    margin: 20px;
}


/* TERZA SEZ */

.third .container {
    display: flex;
    justify-content: space-between;
}

.left-image {
    width: 60%;
}

.left-image img {
    width: 100%;
}

.right-caption {
    width: 35%;
    padding: 30px 15px;
    font-size: 13px;
}

.btn-sct-3 {
    display: inline-block;
    background-color: transparent;
    border: 1px solid gray;
    color: gray;
}

.right-caption h3 {
    margin-bottom: 20px;
}

.right-caption .btn-space {
    margin-top: 20px;
}


/* QUARTA SEZ */



/* .fourth .container .title {
    width: 100%;
    background-color: aqua;
} */

.fourth .sct-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fourth .column {
    width: calc(100% / 3 - 20px);
    /* height: 400px; */
    margin-bottom: 40px;
    font-size: 13px;
    padding: 0 10px;
}

.fourth .column .img{
    width: 100%;
}

/* QUINTA SEZ */

.fifth a {
    font-size: 13px;
}

.fifth .space {
    padding-right: 40%;
}

/* SESTA SEZ */

/* .container-bottom {
    width: 100%;
    height: 400px;
    background-color: darkslategray;
    border: 2px solid white;
} */

/* SETTIMA SEZ */

/* .seventh .container-bottom {
    background-color: cornflowerblue;
    height: 200px;
} */

/* OTTAVA SEZ */

/* .eighth .container-bottom {
    background-color: white;
    height: 400px;
} */


/* FOOTER */

footer {
    background-color: black;
    width: 100%;
}

.ft-container {
    width: 70%;
    margin: 0 auto;
    height: 500px;
    background-color: beige;
}