*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: darkgray; */
    font-family: 'Open Sans', sans-serif;
}

/* HEADER  */

nav {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.left {
    margin-left: 20px;
    display: flex;
    align-items: center;

}

.right {
    display: flex;
    align-items: center;
}

/* nav ul li {
    padding: 20px;
} */

nav a {
    display: block;
    padding: 20px;
    color: black;
    text-decoration: none;
    font-size: 15px;
}

.button {
    display: block;
    padding: 10px;
    background-color: #0061ff;
    color: white;
    font-size: 10px;
    text-align: center;
    text-decoration: none;
}

/* #small-btn-container {
    padding: 10px 55px;
} */


.left img {
    width: 100px;
}


/* MAIN */

main {
    padding-top: 50px;
}

/* PRIMA SEZ */

.first{
    width: 100%;
    background-color: #b4d0e7;
}

.jumbo {
    width: 60%;
    margin: 0 auto;
    /* height: 600px;  */
    padding-top: 100px;
}

.title h1 {
    font-size: 55px;
}

.container-top {
    width: 100%;
    /* height: 70%; */
    display: flex;
    /* position: relative;
    top: 150px; */
}

.container-top .desc {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 13px;
    padding-top: 25px;
}

.jumbo .button {
    display: inline-block;
}


.container-top .image {
    width: 70%;
    height: 100%;
    position: relative;
    top: 50px;
}

.image img {
    width: 100%;
}

/* SECONDA SEZ */

.container {
    width: 50%;
    margin: 50px auto;
    /* height: 500px; */
    /* border: 2px solid black; */
}
.container .title-2 {
    padding: 40px 0;
}



.second .sct-columns {
    display: flex;
    justify-content: space-between;
}

.second .column {
    width: calc(100% / 3 - 20px);
    /* height: 600px; */
    border: 1px solid lightgray;
    font-size: 10px;
    margin-bottom: 20px;
}



.user-type {
    text-align: center;
    border: 1px solid lightgray;
    padding: 10px;
    
}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px;
    font-size: 10px;
}

.type {
    padding: 20px 10px 0 10px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
}

.column ul {
    list-style: none;
}

.link-buy {
    padding: 20px 0;
}

.line {
    border-bottom: 2px solid gray;
    width: 50px;
    /* padding: 20px;
    margin-left: 20px;
    margin-bottom: 20px; */
}

/* .btn-space {
    padding-top: 20px;
} */

/* .column #button {
    font-size: 10px;
    padding: 10px 20px;
} */

.highlights {
    padding: 20px 0;
    font-size: 10px;
}

.column li {
    padding: 10px 0;
}

.type-title , .cost , .idk {
    padding: 10px 0;
}

.info , .caption {
    padding: 10px 0;
}

.container-bottom {
    display: flex;
    justify-content: space-between;
}

.container-bottom .button {
    margin: 20px;
}


/* TERZA SEZ */

.third .container {
    display: flex;
    justify-content: space-between;
}

.left-image {
    width: 60%;
}

.left-image img {
    width: 100%;
}

.right-caption {
    width: 35%;
    padding: 30px 15px;
    font-size: 13px;
}

.btn-sct-3 {
    display: inline-block;
    background-color: transparent;
    border: 1px solid gray;
    color: gray;
}

.right-caption h3 {
    margin-bottom: 20px;
}

.right-caption .btn-space {
    margin-top: 20px;
}


/* QUARTA SEZ */



/* .fourth .container .title {
    width: 100%;
    background-color: aqua;
} */

.fourth .sct-columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fourth .column {
    width: calc(100% / 3 - 20px);
    /* height: 400px; */
    margin-bottom: 40px;
    font-size: 13px;
    padding: 0 10px;
}

.fourth .column .img{
    width: 100%;
}

/* QUINTA SEZ */

.fifth a {
    font-size: 13px;
}

.fifth .space {
    padding-right: 40%;
}

/* SESTA SEZ */

.container-bottom {
    width: 100%;
    /* height: 400px; */
    display: flex;
    
}

.c-box {
    width: calc(100% / 3);
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: calc(100% / 2);
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color-1 {
    background-color: #a2d39b;
}

.color-2 {
    background-color: #61082b;
}

.color-3 {
    background-color: #0093ce;   
}

.color-4 {
    background-color: #ff1c1c; 
    
}

.box img {
    width: 100px;
    filter: invert(1);
}

.m-box {
    width: 100%;
    background-color: lightgray;
    padding: 30px;
    font-size: 12px;
}

.m-box img {
    width: 200px;
}

.logo-box {
    margin-bottom: 30px;
}

.m-box p {
    margin: 30px 0;
}

.color-5 {
    background-color: #be1422;
}

.color-6 {
    background-color: #b4d0e7;
}

.color-7 {
    background-color: #0d2481;   
}

.color-8 {
    background-color: #FFD830; 
}

/* SETTIMA SEZ */

.seventh {
    width: 100%;
    background-color: #b4d0e7;
}

.seventh .container-bottom {
    width: 60%;
    margin: 0 auto;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seventh .container-bottom .title-2 {
    color: #61082b;
    width: 50%;
}

.container-bottom .button {
    background-color: white;
    color: black;
}

/* OTTAVA SEZ */

.eighth  {
    background-color: white;
}

.eighth .container-bottom {
    width: 60%;
    margin: 0 auto;
    padding: 100px;
    display: flex;
    flex-direction: column;
}

.eighth .container-bottom .title-2 {
    padding: 40px 0;
    border-bottom: 1px solid gray;
}

.eighth .container-bottom .ask {
    padding: 40px 0;
    border-bottom: 1px solid gray;
}

.bold {
    font-weight: bold;
    font-size: 15px;
}


/* FOOTER */

footer {
    background-color: black;
    width: 100%;
    padding: 50px;
    border-bottom: 3px solid gray;
}

.ft-container {
    width: 70%;
    margin: 0 auto;
    /* height: 500px; */
    /* background-color: beige; */
    display: flex;
    justify-content: space-between;
}

.ft-col {
    width: calc(100% / 5 - 20px);
    color: white;
}

.ft-col ul {
    display: block;
    list-style: none;
    /* padding-left: 20px; */
    line-height: 40px;
    /* font-weight: 600; */
    font-size: 13px;
}

.ft-col ul li:first-child {
    font-size: 20px;
    font-weight: 600;
    padding: 20px 0;
}

.language {
    color: gray;
    margin: 0 215px;
}

footer .line {
    margin: 50px 0 ;
}

