*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: darkgray; */
    font-family: 'Open Sans', sans-serif;
}

/* HEADER  */

nav {
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

.left {
    margin-left: 20px;
    display: flex;
    align-items: center;

}

nav ul li {
    padding: 20px;
}

nav ul li a {
    color: black;
    text-decoration: none;
    font-size: 15px;
}

.button {
    padding: 10px;
    background-color: #0061ff;
    color: white;
    font-size: 10px;
    text-align: center;
}

#small-btn-container {
    padding: 10px 55px;
}


.left img {
    width: 100px;
}


/* MAIN */

main {
    padding-top: 50px;
}

/* PRIMA SEZ */

.first{
    width: 100%;
    background-color: #b4d0e7;
}

.jumbo {
    width: 60%;
    margin: 0 auto;
    height: 600px; 
    padding-top: 100px;
}

.title h1 {
    font-size: 55px;
}

.container-top {
    width: 100%;
    height: 70%;
    display: flex;
    /* position: relative;
    top: 150px; */
}

.container-top .desc {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.container-top .image {
    width: 70%;
    height: 100%;
    
}

.image img {
    width: 100%;
}

/* SECONDA SEZ */

.container {
    width: 50%;
    margin: 50px auto;
    /* height: 500px; */
    /* border: 2px solid black; */
}
.container .title-2 {
    line-height: 80px;
}



.second .sct-columns {
    display: flex;
    justify-content: space-between;
}

.second .column {
    width: calc(100% / 3 - 20px);
    /* height: 600px; */
    border: 1px solid lightgray;
    font-size: 10px;
}



.user-type {
    text-align: center;
    border: 1px solid lightgray;
    padding: 10px;
    
}

.card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 25px;
    font-size: 10px;
}

.type {
    padding: 20px 10px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
}

.column ul {
    list-style: none;
}

.link-buy {
    padding: 20px 0;
}

.line {
    border-bottom: 2px solid gray;
    width: 50px;
    padding: 20px;
    margin-left: 20px;
    margin-bottom: 20px;
}

.btn-space {
    padding-top: 20px;
}

/* .column #button {
    font-size: 10px;
    padding: 10px 20px;
} */

.highlights {
    padding: 20px 0;
    font-size: 10px;
}

.column li {
    padding: 10px 0;
}

.type-title , .cost , .idk {
    padding: 10px 0;
}


.sell {
    width: 100%;
    height: 200px;
    background-color: chartreuse;

}

/* TERZA SEZ */

.third .container {
    display: flex;
}

.third .container .image {
    width: 60%;
    height: 400px;
    border: 2px solid white;
}

.third .container .desc {
    width: 40%;
    height: 400px;
    border: 2px solid white;

}

/* QUARTA SEZ */



.fourth .container .title {
    width: 100%;
    height: 100px;
    background-color: aqua;
}

.fourth .columns {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.fourth .column {
    width: calc(100% / 3 - 20px);
    height: 400px;
    background-color: brown;
    border: 2px solid white;
    margin-top: 20px;
}

/* QUINTA SEZ */

.fifth .phrase {
    width: 100%;
    height: 200px;
    background-color: azure;
}

/* SESTA SEZ */

.container-bottom {
    width: 100%;
    height: 400px;
    background-color: darkslategray;
    border: 2px solid white;
}

/* SETTIMA SEZ */

.seventh .container-bottom {
    background-color: cornflowerblue;
    height: 200px;
}

/* OTTAVA SEZ */

.eighth .container-bottom {
    background-color: white;
    height: 400px;
}


/* FOOTER */

footer {
    background-color: black;
    width: 100%;
}

.ft-container {
    width: 70%;
    margin: 0 auto;
    height: 500px;
    background-color: beige;
}